{{- if .use_secrets -}}
# Git configuration with GPG signing from 1Password
[user]
    signingkey = {{ onepassword .secrets.gpg_signing_key }}

[commit]
    gpgsign = true

[tag]
    gpgsign = true
{{- end }}